* {
    padding: 0px;
    margin: 0px;
}

body{

font-family: Arial, Helvetica, sans-serif;

    color: #FDFDFD;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer"
    ;

    grid-template-columns: 20vw auto auto;
    grid-template-rows: 50px calc(100vh - 100px - 10px) 50px;
}

.header{
    background-color: #e22020;
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.aside{
    background-color: #56bffc;
    grid-area: aside;
    padding: 10px;
}

.main{
    background-color: #BC20E2;
    grid-area: main;
    padding: 10px;
}

.footer{
    background-color: #81e220;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}